@charset "utf-8";

.dl_head{
    height: 100px;
    position: relative;
    overflow: hidden;
}
.dl_head>a>img{
    position: absolute;
    left: 20%;
}
.dl_box{
    width: 100%;
    height: 500px;
    background: url(../images/zcbg.jpg) no-repeat top center;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}

.box{
    width: 380px;
    height: 385px;
    position: absolute;
    top: 100px;
    right: 200px;
     background-color: #fff; 
     display: flex;
     flex-direction: column;
     justify-content: start;
     align-items: center;
     text-align: center;
}
.box>h2{
    margin-top: 20px;
    margin-bottom: 20px;
    line-height: 30px;
    font-size: 30px;
    text-align: center;
}

.u_right{
    width: 280px;
    margin: 10px auto;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
}
.dl_input{
    width: 280px;
    height: 40px;
}
button{
    width: 285px;
    height: 40px;
    margin-top: 20px;
    background-color: rgb(184, 11, 11);
    color: #fff;
}
.zc{
    position: absolute;
    left: 20%;
    bottom: 10px;
}
span{
    color: red;
}

.acopy{
    width: 900px;
    height: 100px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 50%;
   margin-left: -450px;
   
}